/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-width: 320px;
}

.visually-hidden, .visually-hidden * {
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  top: 0;
  left: 0;
  font-size: 0 !important;
  line-height: 0 !important;
}

img {
  max-width: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  vertical-align: baseline;
  display: inline-block;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden], template {
  display: none;
}

a {
  background-color: rgba(0, 0, 0, 0);
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type=button], input[type=reset] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: none;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
  margin: auto;
  max-width: 1220px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
}

.body {
  position: relative;
  font-family: "Unbounded", "Arial", sans-serif;
  color: #000000;
  background-color: #FFF6EE;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background: transparent;
  padding: 24px 30px;
  box-sizing: border-box;
}
.header--sticky {
  background: linear-gradient(0deg, rgba(56, 185, 225, 0.7), rgba(37, 179, 223, 0.7));
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.header__inner {
  max-width: 1360px;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner-left {
  display: flex;
  gap: 50px;
  align-items: baseline;
}
.header__inner-right {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99999;
  background-image: url("img/icon--menu-close.svg");
  width: 40px;
  height: 32px;
}
.header__open-menu {
  background-image: url("img/icon--menu-open.svg");
  width: 40px;
  height: 28px;
}
.header__close-menu, .header__open-menu {
  border: none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  display: none;
}
.header__logo-link {
  position: relative;
  line-height: 0;
}
.header__logo-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  width: 2px;
  height: 34px;
  background-color: #FFFFFF;
  opacity: 50%;
}

@media (max-width: 1400px) {
  .header .pay--small .pay__address {
    font-size: 12px;
    padding: 5px 4px 3px 4px;
  }
}
@media (max-width: 1320px) {
  .header__inner-left {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  .header__pay.pay {
    display: none;
  }
  .header__logo-link::after {
    display: none;
  }
}
@media (max-width: 1020px) {
  .header__logo {
    max-width: 140px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 20px 20px;
  }
}
@media (max-width: 680px) {
  .pt .header__menu {
    display: none;
  }
  .pt .header__open-menu {
    display: block;
  }
  .pt .header__close-menu {
    display: block;
  }
  .pt .opened {
    background-color: rgba(40, 180, 223, 0.7);
    padding: 36px 30px;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
  }
  .pt .opened .header__inner {
    flex-direction: column;
  }
  .pt .opened .header__inner-left {
    flex-direction: column;
    gap: 36px;
  }
  .pt .opened .header__logo-link {
    display: none;
  }
  .pt .opened .header__logo {
    max-width: 150px;
  }
  .pt .opened .menu {
    display: flex;
  }
}
@media (max-width: 800px) {
  .header__menu {
    display: none;
  }
  .header__open-menu {
    display: block;
  }
  .header__close-menu {
    display: block;
  }
  .opened {
    background-color: rgba(40, 180, 223, 0.7);
    padding: 36px 30px;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
  }
  .opened .header__inner {
    flex-direction: column;
  }
  .opened .header__inner-left {
    flex-direction: column;
    gap: 36px;
  }
  .opened .header__logo-link {
    display: none;
  }
  .opened .header__logo {
    max-width: 150px;
  }
  .opened .menu {
    display: flex;
  }
  .opened .btn--cta {
    margin-top: 16px;
  }
}
@media (max-width: 470px) {
  .btn--cta {
    display: none;
  }
}
@media (max-width: 1360px) {
  .pt .header__inner-left {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .pt .header__pay.pay {
    display: none;
  }
  .pt .header__logo-link::after {
    display: none;
  }
}
.main__hero {
  padding: 120px 0 500px 0;
}

@media (max-width: 1540px) {
  .main__hero {
    padding: 120px 0 500px 0;
  }
}
@media (max-width: 1320px) {
  .main__hero {
    padding-top: 83px;
  }
}
.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (hover: hover) and (pointer: fine) {
  .popup:hover {
    cursor: pointer;
  }
}
.popup__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  border: none;
  background-image: url("img/close.svg");
  background-size: 30px;
  background-color: transparent;
  z-index: 999999;
}
@media (hover: hover) and (pointer: fine) {
  .popup__close:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.popup__close:active {
  cursor: pointer;
  opacity: 0.8;
}
.popup__video {
  z-index: 999999;
  max-width: 80%;
  max-height: 80%;
}

.hero {
  position: relative;
  overflow: hidden;
  font-family: "Unbounded", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #FFF6EE, #21B2DF);
}
.hero__inner {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hero__phone-txt {
  height: 541px;
  position: absolute;
  left: calc(50% - 140px);
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-image: url("img/phone.png");
  background-repeat: no-repeat;
  background-size: 340px 541px;
  background-position: center bottom;
}
.hero__btn-play {
  width: 171px;
  height: 171px;
  border: none;
  background-color: transparent;
  background-image: url("img/icon-play.svg");
  background-repeat: no-repeat;
  padding: 0;
  margin-bottom: 6px;
}
@media (hover: hover) and (pointer: fine) {
  .hero__btn-play:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.1);
  }
}
.hero__btn-play:active {
  transition: all 0.3s ease-out;
  transition-transform: scale(1.1);
}
.hero__btn-play:not(:hover) {
  transition: all 0.3s ease-out;
  transform: scale(1);
}
.hero__cz {
  position: absolute;
  z-index: 9999;
  left: 30%;
  bottom: 0;
}
.hero__cz--pt {
  display: none;
}
.hero__ceo {
  position: absolute;
  z-index: 99999;
  right: 34%;
  bottom: 0;
}
.hero__gvt {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
}
.hero__skyscraper {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
}
.hero__h1 {
  font-size: 200px;
  line-height: 1;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.hero__h2 {
  font-size: 34px;
  line-height: 1.08;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  border-radius: 6px;
}
.hero__blue-gradient {
  display: inline-block;
  background-image: linear-gradient(90deg, #68D5F6, #10BBF2);
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: -35px;
}
.hero__btn {
  margin-bottom: 26px;
}
.hero__h3 {
  position: relative;
  display: inline-block;
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #F68A28;
  margin: 0;
  padding: 15px 15px 15px 63px;
  box-sizing: border-box;
}
.hero__h3::before {
  content: "";
  background-image: url("img/icon--time.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  margin-left: -50px;
  margin-bottom: -5px;
}
.hero__h3-wrapper {
  display: none;
  position: absolute;
  bottom: 53px;
  right: -144px;
  z-index: 9999;
}
.hero__socials {
  position: absolute;
  z-index: 9999;
  bottom: 40px;
  right: 32px;
}

.pt .hero__h1 {
  font-size: 135px;
  line-height: 1;
}
.pt .hero__cz {
  display: none;
}
.pt .hero__cz--pt {
  display: block;
}

@media (max-width: 1730px) {
  .hero__cz {
    left: 32%;
  }
  .hero__ceo {
    right: 32%;
  }
}
.pt .hero__h1 {
  font-size: 95px;
}

@media (max-width: 1540px) {
  .hero__cz {
    left: 29%;
  }
  .hero__ceo {
    height: 52%;
    right: 31%;
  }
  .hero__socials {
    bottom: 20px;
  }
  .hero__socials .socials__list {
    gap: 10px;
  }
  .hero__socials .socials__item {
    width: 46px;
    height: 46px;
  }
}
.pt .hero__inner {
  z-index: 9999;
}
.pt .hero__h1 {
  font-size: 95px;
}

@media (max-width: 1380px) {
  .hero__inner {
    z-index: 9999;
  }
}
@media (max-width: 1320px) {
  .hero__socials {
    left: 32px;
  }
  .hero__socials .socials__item {
    width: 44px;
    height: 44px;
  }
  .hero__cz {
    left: 22%;
  }
  .hero__ceo {
    right: 22%;
  }
  .hero__gvt {
    left: -60px;
    width: 48%;
    height: auto;
  }
  .hero__skyscraper {
    right: -100px;
    width: 34%;
    height: auto;
  }
}
@media (max-width: 1280px) {
  .hero__h1 {
    font-size: 140px;
  }
}
@media (max-width: 1120px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 350px;
  }
  .hero__h1 {
    font-size: 110px;
  }
  .hero__h2 {
    font-size: 20px;
    margin-bottom: -9px;
  }
  .hero__phone-txt {
    background-size: 84%;
    bottom: -1px;
  }
  .hero__btn {
    margin-bottom: 16px;
  }
  .hero__btn-play {
    width: 90px;
    height: 90px;
    background-size: contain;
    margin-bottom: -5px;
  }
  .hero__btn--icon {
    padding: 17px 17px 17px 45px;
  }
  .hero__blue-gradient {
    padding: 5px 7px;
  }
  .hero__socials {
    bottom: 20px;
  }
  .hero__socials .socials__list {
    gap: 8px;
  }
  .hero__socials .socials__item {
    width: 35px;
    height: 35px;
  }
  .hero__cz {
    left: 22%;
    width: auto;
    height: 50%;
  }
  .hero__gvt {
    left: 0;
    width: 35%;
  }
  .hero__skyscraper {
    right: 0px;
    width: 35%;
    height: auto;
  }
}
@media (max-width: 960px) {
  .hero__cz {
    left: 18%;
  }
  .hero__gvt {
    left: -10px;
  }
}
@media (max-width: 870px) {
  .hero__cz {
    left: 15%;
  }
}
@media (max-width: 780px) {
  .hero__h1 {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .hero__socials {
    left: 20px;
    bottom: 20px;
  }
  .hero__cz {
    left: 12%;
  }
}
@media (max-width: 680px) {
  .hero {
    padding-bottom: 320px;
  }
  .hero__socials {
    z-index: 999990;
    bottom: 7px;
    margin: auto;
  }
  .hero .hero__socials .socials__list {
    flex-direction: row;
  }
  .hero__phone-txt {
    left: calc(50% - 130px);
  }
  .hero__h1 {
    font-size: 64px;
  }
  .hero__h3-wrapper {
    bottom: 20px;
    right: -95px;
  }
  .hero__h3 {
    font-size: 14px;
  }
  .hero__h3::before {
    width: 23px;
    height: 20px;
  }
  .hero__cz {
    left: 0;
    width: auto;
    height: 57%;
  }
  .hero__ceo {
    right: 16%;
    width: auto;
    height: 57%;
  }
  .hero__gvt {
    left: -20px;
    width: 50%;
    height: auto;
  }
  .hero__skyscraper {
    right: -65px;
    width: 41%;
  }
  .hero__btn {
    margin-bottom: 56px;
  }
  .hero__h2 {
    margin-bottom: -5px;
  }
  .hero__btn-play {
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
  }
  .pt .hero__ceo {
    right: 13%;
  }
}
@media (max-width: 580px) {
  .hero__h3-wrapper {
    bottom: -50px;
    right: 135px;
  }
  .hero__skyscraper {
    right: -65px;
    width: 48%;
  }
  .hero__gvt {
    left: -20px;
    width: 55%;
    height: auto;
  }
  .pt .hero__h1 {
    font-size: 62px;
  }
  .pt .hero__ceo {
    right: 10%;
  }
  .pt .hero__cz {
    left: 11%;
  }
}
@media (max-width: 520px) {
  .hero {
    padding-bottom: 320px;
  }
  .hero__socials {
    left: 10px;
    right: 10px;
  }
  .hero__cz {
    left: 1;
    width: auto;
    height: 55%;
  }
  .hero__gvt {
    left: -55px;
    width: 60%;
    height: auto;
  }
  .hero__skyscraper {
    right: -65px;
    width: 48%;
  }
}
@media (max-width: 490px) {
  .pt .hero__h1 {
    font-size: 44px;
  }
}
@media (max-width: 460px) {
  .hero__cz {
    display: none;
  }
}
@media (max-width: 440px) {
  .hero__socials {
    left: 5px;
    right: 5px;
  }
  .hero__socials .socials__list {
    gap: 5px;
  }
  .hero__h1 {
    font-size: 52px;
  }
  .hero__h3-wrapper {
    bottom: -48px;
    right: 93px;
  }
  .hero__gvt {
    left: -55px;
    width: 70%;
    height: auto;
  }
  .hero__skyscraper {
    right: -90px;
    width: 53%;
  }
  .pt .hero__cz {
    left: 8%;
  }
  .pt .hero__ceo {
    right: 5%;
  }
}
@media (max-width: 400px) {
  .hero__h1 {
    font-size: 50px;
  }
  .hero__h3-wrapper {
    bottom: -48px;
    right: 86px;
  }
  .hero__gvt {
    left: -55px;
    width: 70%;
    height: auto;
  }
  .hero__skyscraper {
    right: -90px;
    width: 53%;
  }
}
@media (max-width: 390px) {
  .hero__socials .socials__item {
    width: 30px;
    height: 30px;
  }
  .hero__gvt {
    left: -55px;
    width: 72%;
    height: auto;
  }
  .hero__skyscraper {
    right: -90px;
    width: 60%;
  }
}
@media (max-width: 370px) {
  .hero__cz {
    left: 7%;
    height: 53%;
  }
  .hero__ceo {
    right: 4%;
    height: 53%;
  }
  .hero__gvt {
    left: -70px;
    width: 75%;
  }
  .hero__skyscraper {
    right: -90px;
    width: 65%;
  }
}
@media (max-width: 340px) {
  .hero__socials .socials__item {
    width: 28px;
    height: 28px;
  }
  .hero__cz {
    left: 6%;
    height: 53%;
  }
  .hero__ceo {
    right: 2%;
    height: 53%;
  }
  .hero__gvt {
    left: -70px;
    width: 80%;
  }
  .hero__skyscraper {
    right: -90px;
    width: 65%;
  }
  .pt .hero__h1 {
    font-size: 40px;
  }
  .pt .hero__cz {
    left: 5%;
    height: 53%;
  }
  .pt .hero__ceo {
    right: 1%;
    height: 53%;
  }
}
.pay {
  font-family: "Unbounded", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.pay__portrait {
  max-width: 136px;
}
.pay__text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pay__name {
  font-size: 32px;
  font-width: 400;
  color: #000000;
  margin: 0;
  text-align: center;
}
.pay__address {
  padding: 11px 7px;
  font-size: 24px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pay__address:hover {
  cursor: pointer;
}
.pay__address-container {
  display: flex;
  position: relative;
}
.pay__address-container::before {
  content: "Copied!";
  position: absolute;
  font-weight: 400;
  top: 60px;
  left: 76px;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0;
  transition: all 0.5s ease-out;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  padding: 5px 10px;
}
.pay__address-container.fadeInOut::before {
  transform: translateY(-3px);
  opacity: 1;
  transition: all 0.5s ease-out;
}
.pay__copy-btn {
  position: relative;
  padding: 0;
  width: 52px;
  height: 52px;
  border: none;
  background-color: #000000;
  background-image: url("img/icon--copy-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}
@media (hover: hover) and (pointer: fine) {
  .pay__copy-btn:hover {
    background-image: url("img/icon--copy-big-orange.svg");
  }
}
.pay__copy-btn:active {
  background-image: url("img/icon--copy-big-orange.svg");
}
.pay__copy-btn:not(:hover) {
  background-image: url("img/icon--copy-big.svg");
}
.pay--small {
  flex-direction: row;
  gap: 8px;
}
.pay--small .pay__portrait {
  width: 52px;
  height: 52px;
}
.pay--small .pay__text-container {
  gap: 6px;
}
.pay--small .pay__name {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}
.pay--small .pay__address-container::before {
  content: "Copied!";
  top: 35px;
  left: 38px;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  padding: 5px;
}
.pay--small .pay__address {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 4px 3px 4px;
}
.pay--small .pay__copy-btn {
  width: 28px;
  height: 26px;
  background-color: #F68A28;
  background-image: url("img/icon--copy.svg");
  background-size: contain;
}
@media (hover: hover) and (pointer: fine) {
  .pay--small .pay__copy-btn:hover {
    background-color: #000000;
    transition: all 0.3s ease;
  }
}
.pay--small .pay__copy-btn:active {
  background-color: #000000;
  transition: all 0.3s ease;
}
.pay--small .pay__copy-btn:not(:hover) {
  background-color: #F68A28;
  transition: all 0.3s ease;
}
.pay--small .pay__copy-btn::before {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  top: 125%;
  bottom: 50px;
  left: -12px;
}

@media (max-width: 1024px) {
  .pay__address {
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .pay__portrait {
    max-width: 100px;
    height: auto;
  }
  .pay__name {
    font-size: 28px;
  }
  .pay__address {
    font-size: 16px;
  }
  .pay__copy-btn {
    width: 40px;
    height: 40px;
    background-size: 28px;
  }
}
@media (max-width: 620px) {
  .pay__address {
    font-size: 14px;
    padding: 8px;
  }
  .pay__copy-btn {
    width: 34px;
    height: 34px;
    background-size: 24px;
  }
}
@media (max-width: 580px) {
  .pay__portrait {
    max-width: 100px;
    height: auto;
  }
  .pay__name {
    font-size: 28px;
  }
  .pay__address {
    padding: 11px 7px;
    font-size: 24px;
  }
  .pay__portrait {
    width: 100%;
    height: auto;
  }
  .pay__copy-btn {
    width: 52px;
    height: 52px;
    background-size: 40px;
  }
}
@media (max-width: 380px) {
  .pay__portrait {
    max-width: 120px;
  }
  .pay__name {
    font-size: 28px;
  }
  .pay__address {
    font-size: 16px;
  }
  .pay__copy-btn {
    width: 40px;
    height: 40px;
    background-size: 28px;
  }
}
.pt .pay__address-container::before {
  content: "Copiado!";
}

.pt .pay--small .pay__address-container::before {
  left: 26px;
}

.socials {
  background-color: transparent;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.socials__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}
.socials__item {
  width: 52px;
  height: 52px;
}
.socials__item:nth-of-type(1) .socials__link {
  background-image: url("img/icon-socials--x.svg");
}
.socials__item:nth-of-type(2) .socials__link {
  background-image: url("img/icon-socials--telegram.svg");
}
.socials__item:nth-of-type(3) .socials__link {
  background-image: url("img/icon-socials--sparrow.svg");
}
.socials__item:nth-of-type(4) .socials__link {
  background-image: url("img/icon-socials--cube.svg");
}
.socials__item:nth-of-type(5) .socials__link {
  background-image: url("img/icon-socials--dex-screener.svg");
}
.socials__item:nth-of-type(6) .socials__link {
  background-image: url("img/icon-socials--aim.svg");
}
.socials__item:nth-of-type(7) .socials__link {
  background-image: url("img/icon-socials--seal.svg");
}
.socials__item:nth-of-type(8) .socials__link {
  background-image: url("img/icon-socials--m.svg");
}
.socials__item:nth-of-type(9) .socials__link {
  background-image: url("img/icon-socials--binance.svg");
}
.socials__item:nth-of-type(10) .socials__link {
  background-image: url("img/icon-socials--mountains.svg");
}
.socials__link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (hover: hover) and (pointer: fine) {
  .socials__link:hover::before {
    content: "";
    opacity: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeToWhite 0.3s ease forwards;
  }
}
.socials__link:active {
  content: "";
  content-opacity: 0;
  content-background-color: rgb(255, 255, 255);
  content-position: absolute;
  content-top: 0;
  content-left: 0;
  content-width: 100%;
  content-height: 100%;
  content-animation: fadeToWhite 0.3s ease forwards;
}

@keyframes fadeToWhite {
  100% {
    opacity: 0.6;
  }
}
.about {
  font-family: "Unbounded", "Arial", sans-serif;
  background-color: #FFF6EE;
  padding: 80px 30px;
  overflow: hidden;
}
.about__inner {
  margin: auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.about__text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
  max-width: 600px;
}

@media (max-width: 1320px) {
  .about {
    padding: 130px 30px;
  }
}
@media (max-width: 1180px) {
  .about__inner {
    gap: 44px;
  }
  .about__img {
    max-width: 45%;
  }
}
@media (max-width: 1024px) {
  .about {
    padding: 110px 30px;
  }
  .about__inner {
    gap: 36px;
  }
  .about__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 90px 30px;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__img {
    max-width: 100%;
  }
  .about__text-content {
    width: 100%;
  }
  .about__text {
    font-size: 20px;
  }
}
@media (max-width: 680px) {
  .about__img {
    max-width: 100%;
  }
}
.tokenomics {
  font-family: "Unbounded", "Arial", sans-serif;
  background-color: #FFF6EE;
  padding: 200px 30px;
}
.tokenomics__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tokenomics__h2 {
  font-size: 72px;
  font-weight: 900;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;
}
.tokenomics__h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 9px;
}
.tokenomics__text {
  display: inline-block;
  color: #000000;
  font-size: 30px;
  font-weight: 900;
  background-color: #F68A28;
  padding: 8px 13px;
  text-align: center;
  margin: 0;
  margin-bottom: 72px;
}
.tokenomics__img {
  max-width: 905px;
  width: 100%;
  height: auto;
}
.tokenomics__img--pt {
  display: none;
}

.pt .tokenomics__img {
  display: none;
}
.pt .tokenomics__img--pt {
  display: block;
}

@media (max-width: 1320px) {
  .tokenomics {
    padding: 130px 30px;
  }
}
@media (max-width: 1024px) {
  .tokenomics {
    padding: 110px 30px;
  }
  .tokenomics__h2 {
    margin-bottom: 22px;
  }
  .tokenomics__text {
    margin-bottom: 64px;
  }
}
@media (max-width: 768px) {
  .tokenomics {
    padding: 90px 30px;
  }
  .tokenomics__h2 {
    font-size: 58px;
  }
  .tokenomics__h3 {
    font-size: 18px;
  }
  .tokenomics__text {
    font-size: 24px;
  }
}
@media (max-width: 580px) {
  .tokenomics__h2 {
    font-size: 44px;
  }
  .tokenomics__h3 {
    font-size: 18px;
  }
  .tokenomics__text {
    font-size: 21px;
    margin-bottom: 48px;
  }
}
@media (max-width: 480px) {
  .tokenomics {
    padding: 80px 20px;
  }
  .tokenomics__h2 {
    margin-bottom: 18px;
  }
  .tokenomics__text {
    margin-bottom: 42px;
  }
}
@media (max-width: 420px) {
  .tokenomics {
    padding: 60px 20px;
    scroll-margin-top: 40px;
  }
  .tokenomics__h2 {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .tokenomics__h3 {
    font-size: 15px;
  }
  .tokenomics__text {
    font-size: 17px;
  }
}
@media (max-width: 380px) {
  .tokenomics__h2 {
    font-size: 32px;
  }
  .tokenomics__h3 {
    font-size: 14px;
  }
  .tokenomics__text {
    font-size: 16px;
  }
}
@media (max-width: 680px) {
  .pt .tokenomics__h2 {
    font-size: 44px;
  }
  .pt .tokenomics__h3 {
    font-size: 18px;
  }
  .pt .tokenomics__text {
    font-size: 21px;
    margin-bottom: 48px;
  }
}
@media (max-width: 540px) {
  .pt .tokenomics__h2 {
    font-size: 34px;
  }
}
@media (max-width: 420px) {
  .pt .tokenomics__text {
    font-size: 17px;
  }
}
@media (max-width: 380px) {
  .pt .tokenomics__h2 {
    font-size: 28px;
  }
}
.presale {
  padding: 200px 30px;
  display: flex;
  justify-content: center;
}
.presale__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 800px;
}
.presale__h2 {
  font-size: 72px;
  font-weight: 900;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.presale__h2--outline {
  color: #FFF6EE;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.presale__text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
  max-width: 600px;
}
.presale__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}

@media (max-width: 1024px) {
  .presale {
    padding: 110px 30px;
  }
  .presale__inner {
    gap: 20px;
  }
  .presale__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .presale {
    padding: 90px 30px;
  }
  .presale__h2 {
    font-size: 58px;
  }
}
@media (max-width: 580px) {
  .presale__h2 {
    font-size: 44px;
  }
}
@media (max-width: 480px) {
  .presale {
    padding: 80px 20px;
  }
  .presale__h2 {
    font-size: 36px;
  }
}
@media (max-width: 420px) {
  .presale {
    padding: 60px 20px;
  }
}
@media (max-width: 380px) {
  .presale__h2 {
    font-size: 32px;
  }
}
.ticker {
  padding: 38px 0;
  background-color: #F68A28;
  font-family: "Unbounded", "Arial", sans-serif;
  max-height: 76px;
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 35px;
}
.ticker__inner {
  display: flex;
  align-items: center;
  gap: 35px;
  animation: ticker 15s infinite linear;
}
@media (hover: hover) and (pointer: fine) {
  .ticker:hover .ticker__inner {
    animation-play-state: paused;
  }
}
.ticker__text {
  font-size: 34px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  line-height: 0;
  white-space: nowrap;
  text-transform: uppercase;
}
.ticker__text--thin {
  font-weight: 300;
  background-image: url(img/dash.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 24px;
}
.ticker__text--outline {
  color: #F68A28;
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px #FFFFFF;
}
.ticker--black {
  background-color: #000000;
}
.ticker--black .ticker__text--outline {
  color: #000000;
}
.ticker--black .ticker__text--thin {
  background-color: #F68A28;
}
@keyframes ticker {
  100% {
    transform: translateX(-102.7%);
  }
}

@media (max-width: 1024px) {
  .ticker {
    padding: 28px 0;
    gap: 35px;
  }
  .ticker__text {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .ticker {
    padding: 26px 0;
    gap: 30px;
  }
  .ticker__text {
    font-size: 42px;
  }
}
@media (max-width: 620px) {
  .ticker {
    padding: 22px 0;
    gap: 26px;
  }
  .ticker__text {
    font-size: 32px;
  }
}
@media (max-width: 420px) {
  .ticker {
    padding: 22px 0;
    gap: 26px;
  }
  .ticker__text {
    font-size: 32px;
  }
}
@media (max-width: 420px) {
  .ticker {
    padding: 22px 0;
    gap: 24px;
  }
  .ticker__text {
    font-size: 24px;
  }
}
.menu {
  font-family: "Unbounded", "Arial", sans-serif;
}
.menu__links {
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 700;
  list-style-type: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.menu__link a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}
@media (hover: hover) and (pointer: fine) {
  .menu__link a:hover {
    transition: all 0.3s ease;
    text-decoration: underline;
  }
}
.menu__link a:active {
  transition: all 0.3s ease;
  text-decoration: underline;
}
.menu__link a:not(:hover) {
  transition: all 0.3s ease;
  text-decoration: none;
}

.pt .menu__links {
  gap: 21px;
}
.pt .menu__link a {
  font-size: 18px;
}

@media (max-width: 1320px) {
  .menu__link a {
    font-size: 21px;
  }
}
@media (max-width: 1020px) {
  .menu__link a {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .menu__links {
    gap: 24px;
  }
  .menu__link a {
    font-size: 18px;
  }
}
@media (max-width: 680px) {
  .opened .menu__links {
    flex-direction: column;
    gap: 0px;
  }
  .opened .menu__link {
    text-align: center;
    padding: 16px 0;
  }
  .opened .menu__link a {
    font-size: 24px;
  }
}
@media (max-width: 620px) {
  .opened .menu__links {
    flex-direction: column;
    gap: 0px;
  }
  .opened .menu__link {
    text-align: center;
    padding: 16px 0;
  }
  .opened .menu__link a {
    font-size: 24px;
  }
}
.roadmap {
  font-family: "Unbounded", "Arial", sans-serif;
  background-color: #FFF6EE;
  padding: 220px 30px;
}
.roadmap__inner {
  margin: auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.roadmap__h2 {
  font-size: 72px;
  line-height: 0.8;
  font-weight: 900;
  color: #000000;
  margin: 0;
  text-align: center;
}
.roadmap__h3 {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 900;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
  max-width: 27%;
}
.roadmap__container {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: flex-start;
}
.roadmap__row {
  display: flex;
  flex-direction: row;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
}
.roadmap__list {
  position: relative;
  z-index: 9;
  margin: 0;
  padding-left: 160px;
  width: 100%;
}
.roadmap__list::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 40px;
  content: "";
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 4px solid #000000;
  background-color: #F68A28;
}
.roadmap__list::after {
  position: absolute;
  z-index: 0;
  top: 30px;
  left: 61px;
  content: "";
  width: 20px;
  height: calc(100% + 56px);
  background-color: #F68A28;
  border: 4px solid #000000;
  background-repeat: no-repeat;
}
.roadmap__list--done::before {
  background-image: url("img/timeline--done.svg");
}
.roadmap__list--finish::after {
  display: none;
}
.roadmap__item {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 8px;
}
.roadmap__item::last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1320px) {
  .roadmap {
    padding: 130px 30px;
  }
}
@media (max-width: 1024px) {
  .roadmap {
    padding: 110px 30px;
  }
}
@media (max-width: 1070px) {
  .roadmap__item {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .roadmap {
    padding: 90px 30px;
  }
  .roadmap__h2 {
    font-size: 58px;
  }
  .roadmap__h3 {
    font-size: 18px;
  }
}
@media (max-width: 580px) {
  .roadmap__h2 {
    font-size: 44px;
  }
  .roadmap__container {
    gap: 40px;
  }
  .roadmap__row {
    flex-direction: column;
    position: relative;
  }
  .roadmap__h3 {
    max-width: 100%;
    padding-left: 80px;
    box-sizing: border-box;
  }
  .roadmap__list {
    padding-left: 100px;
    box-sizing: border-box;
    position: static;
  }
  .roadmap__list::before {
    top: 0px;
    left: 0;
    width: 50px;
    height: 50px;
  }
  .roadmap__list::after {
    left: 20px;
    width: 14px;
    top: 30px;
  }
}
@media (max-width: 480px) {
  .roadmap {
    padding: 80px 20px;
  }
  .roadmap__inner {
    gap: 30px;
  }
  .roadmap__h2 {
    font-size: 36px;
  }
  .roadmap__list::before {
    left: 6px;
    width: 40px;
    height: 40px;
  }
  .roadmap__list::after {
    width: 11px;
    height: calc(100% + 34px);
  }
  .roadmap__item {
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .roadmap {
    padding: 60px 20px;
  }
}
@media (max-width: 380px) {
  .roadmap__h2 {
    font-size: 32px;
  }
}
.footer {
  font-family: "Unbounded", "Arial", sans-serif;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}
.footer__inner {
  max-width: 1220px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer__disclaimer {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  width: 80%;
  opacity: 60%;
  margin: 0;
}
.footer__stores {
  display: flex;
  gap: 14px;
  flex-shrink: 0;
}
.footer__store-link {
  text-decoration: none;
  margin: 0;
}
@media (hover: hover) and (pointer: fine) {
  .footer__store-link:hover {
    transition: all 0.3s ease;
    opacity: 70%;
  }
}
.footer__store-link:active {
  transition: all 0.3s ease;
  opacity: 70%;
}
.footer__store-link:not(:hover) {
  transition: all 0.3s ease;
  opacity: 100%;
}
.footer__email {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.footer__email-link {
  color: #F68A28;
  font-size: 16px;
  font-weight: 500;
  text-underline-offset: 4px;
}
@media (hover: hover) and (pointer: fine) {
  .footer__email-link:hover {
    transition: all 0.3s ease;
    text-decoration: none;
  }
}
.footer__email-link:active {
  transition: all 0.3s ease;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer__disclaimer {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .footer {
    height: auto;
  }
  .footer__disclaimer {
    width: auto;
  }
  .footer__stores {
    flex-direction: column;
    gap: 5px;
  }
}
@media (max-width: 620px) {
  .footer__inner {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .footer__left {
    align-items: center;
  }
  .footer__disclaimer, .footer__email {
    text-align: center;
    width: 70%;
  }
  .footer__stores {
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 580px) {
  .footer__disclaimer, .footer__email {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 20px 15px;
  }
}
.btn {
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  border-radius: 16px;
  border: 2px solid #BF6A1D;
  padding: 10px 20px;
  background-color: #F68A28;
  box-shadow: 0px 4px #BF6A1D;
  text-shadow: 0px 2px #B8671E;
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    transition: all 0.3s ease;
    transform: translate(0, 6px);
    background-color: #E37C1D;
    box-shadow: 0px 0px #BF6A1D;
    text-shadow: 0px 0px #B8671E;
  }
}
.btn:active {
  transition: all 0.3s ease;
  transform: translate(0, 6px);
  background-color: #E37C1D;
  box-shadow: 0px 0px #BF6A1D;
  text-shadow: 0px 0px #B8671E;
}
.btn:not(:hover) {
  transition: all 0.3s ease;
  transform: translate(0, 0px);
  background-color: #F68A28;
  box-shadow: 0px 4px #BF6A1D;
}
.btn--cta {
  width: 210px;
  height: 58px;
  position: relative;
  padding: 10px 26px 10px 68px;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 900;
  border: 2px solid #FFF895;
  border-radius: 16px;
  background-color: #FFF223;
  background-image: url("img/btn-pattern.svg");
  box-shadow: 0px 0px 10px #FFF0A0, 0px 6px #c17505;
  transform: translate(0, -3px);
  text-shadow: 0 1px 2px #8f7a00;
}
.btn--cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 55px;
  background-image: url("img/btn-cz@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.btn--cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
@media (hover: hover) and (pointer: fine) {
  .btn--cta:hover {
    transition: all 0.3s ease;
    transform: translate(0, 6px);
    background-color: #f1c800;
    text-shadow: none;
    box-shadow: 0px 0px 25px #FFF0A0, 0px 0px #c17505;
  }
}
.btn--cta:active {
  transition: all 0.3s ease;
  transform: translate(0, 3px);
  background-color: #f1c800;
  box-shadow: 0px 0px 25px #FFF0A0, 0px 0px #c17505;
  text-shadow: none;
}
.btn--cta:not(:hover) {
  transition: all 0.3s ease;
  text-shadow: none;
  transform: translate(0, -3px);
  background-color: #FFF223;
  box-shadow: 0px 0px 10px #FFF0A0, 0px 6px #c17505;
  text-shadow: 0 1px 2px #8f7a00;
}
.btn--icon {
  height: 66px;
  padding: 22px 22px 22px 47px;
  background-image: url("img/icon-play--small.svg");
  background-repeat: no-repeat;
  background-position: 19px;
  background-size: 21px 24px;
}

@media (max-width: 960px) {
  .btn--cta {
    width: 190px;
    height: 46px;
    padding: 6px 21px 10px 49px;
    border-radius: 8px;
    font-size: 15px;
  }
  .btn--cta::before {
    width: 53px;
  }
}
.swiper-container {
  padding: 0 140px 48px 140px;
  box-sizing: border-box;
  width: 542px;
  overflow: hidden;
}

.swiper {
  width: 264px;
  box-sizing: border-box;
}
.swiper-slide {
  border-radius: 30px;
}
.swiper-slide__img {
  border-radius: 30px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.swiper-slide__txt {
  margin-top: 22px;
  display: none;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  background-color: #FFF6EE;
}
.swiper-pagination {
  bottom: -50px !important;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #777777;
  border: 2px solid #777777;
  opacity: 1;
  margin: 0px 8px !important;
  box-sizing: border-box;
}
@media (hover: hover) and (pointer: fine) {
  .swiper-pagination-bullet:hover {
    transition: all 0.3s ease;
    background-color: #F68A28;
    border: 2px solid #F68A28;
    transform: scale(1.3);
  }
}
.swiper-pagination-bullet:active {
  transition: all 0.3s ease;
  background-color: #F68A28;
  border: 2px solid #F68A28;
  transform: scale(1.6);
}
@media (hover: hover) and (pointer: fine) {
  .swiper-pagination-bullet:not(:hover) {
    transition: all 0.3s ease;
    transform: scale(1);
    background-color: #777777;
    border: 2px solid #777777;
  }
}
.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  border: 2px solid #777777;
  opacity: 1;
  box-sizing: border-box;
}
@media (hover: hover) and (pointer: fine) {
  .swiper-pagination-bullet-active:hover {
    transition: all 0.3s ease;
    border: 2px solid #F68A28;
  }
}
.swiper-pagination-bullet-active:active {
  transition: all 0.3s ease;
  border: 2px solid #F68A28;
}
@media (hover: hover) and (pointer: fine) {
  .swiper-pagination-bullet-active:not(:hover) {
    transition: all 0.3s ease;
    border: 2px solid #777777;
    background-color: #FFFFFF;
  }
}
.swiper-button-prev, .swiper-button-next {
  width: 59px;
  height: 59px;
  box-sizing: border-box;
  border: 2px solid #BF6A1D;
  background-color: #F68A28;
  box-shadow: 0px 4px #BF6A1D;
  border-radius: 50%;
}
.swiper-button-prev::after, .swiper-button-next::after {
  color: #FFFFFF;
  text-shadow: 0px 2px #BF6A1D;
  font-size: 32px;
  font-weight: bold;
  transform: translate(-2px, 0);
}
.swiper-button-prev {
  left: -135px;
}
.swiper-button-next {
  right: -135px;
}
.swiper-button-next::after {
  color: #FFFFFF;
  text-shadow: 0px 2px #BF6A1D;
  font-size: 32px;
  font-weight: bold;
  transform: translate(3px, 0);
}
@media (hover: hover) and (pointer: fine) {
  .swiper-button-prev:hover, .swiper-button-next:hover {
    transition: all 0.3s ease;
    transform: translate(0, 6px);
    background-color: #E37C1D;
    box-shadow: 0px 0px #BF6A1D;
    text-shadow: 0px 0px #B8671E;
  }
}
.swiper-button-prev:hover::after, .swiper-button-next:hover::after {
  transition: all 0.3s ease;
  text-shadow: 0px 0px #BF6A1D;
}
.swiper-button-prev:active, .swiper-button-next:active {
  transition: all 0.3s ease;
  transition-transform: translate(0, 6px);
  transition-background-color: #E37C1D;
  transition-box-shadow: 0px 0px #BF6A1D;
  transition-text-shadow: 0px 0px #B8671E;
}
.swiper-button-prev:active::after, .swiper-button-next:active::after {
  transition: all 0.3s ease;
  text-shadow: 0px 0px #BF6A1D;
}
@media (hover: hover) and (pointer: fine) {
  .swiper-button-prev:not(:hover), .swiper-button-next:not(:hover) {
    transition: all 0.3s ease;
    transform: translate(0, 0px);
    background-color: #F68A28;
    box-shadow: 0px 4px #BF6A1D;
  }
}
.swiper-button-prev:not(:hover)::after, .swiper-button-next:not(:hover)::after {
  transition: all 0.3s ease;
  text-shadow: 0px 2px #BF6A1D;
}

.swiper-slide-active .swiper-slide__txt {
  display: block;
}

@media (max-width: 580px) {
  .swiper-button-prev {
    left: -85px;
  }
  .swiper-button-next {
    right: -85px;
  }
}
@media (max-width: 440px) {
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}
.card {
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #EEEEEE;
  border: 4px solid #000000;
  border-radius: 20px;
  padding: 18px;
  box-sizing: border-box;
  width: 100%;
}
.card__txt--small {
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
}
.card__txt--regular {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}
.card__txt--medium {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
}
.card__txt--large {
  font-size: 50px;
  line-height: 1;
  margin: 0;
}
.card--burn {
  min-width: 290px;
  max-width: 600px;
  height: 273px;
  background-image: url("img/card-bg--burn.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  grid-column-start: 1;
  grid-column-end: 5;
  background-size: contain;
}
.card--farming {
  min-width: 290px;
  max-width: 600px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #F68A28;
  height: 273px;
  background-image: url("img/card-bg--farming.svg");
  background-repeat: no-repeat;
  background-position: bottom 15px right 25px;
  grid-column-start: 5;
  grid-column-end: 11;
}
.card__txt-container-h {
  display: flex;
  align-items: baseline;
  gap: 0px;
  flex-wrap: wrap;
}
.card--allocate {
  background-image: url("img/card-bg--allocate.svg");
  background-repeat: no-repeat;
  background-size: 110px;
  background-position: bottom 15px right 0px;
  grid-column-start: 3;
  grid-column-end: 9;
  background-color: #F68A28;
}
.card--allocate .card__txt--large {
  margin-right: 8px;
}
.card--coins {
  background-color: #F68A28;
  background-image: url("img/card-bg--coins.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.card--coins-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.card--coins-2 {
  grid-column-start: 9;
  grid-column-end: 11;
}
.card--refund {
  text-align: center;
  grid-column-start: 6;
  grid-column-end: 11;
  justify-content: center;
}
.card--transfer {
  grid-column-start: 1;
  grid-column-end: 6;
  padding-left: 102px;
  background-image: url("img/card-bg--transfer.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center left 22px;
  min-height: 135px;
  justify-content: center;
}
.card--wallet {
  padding-left: 129px;
  background-repeat: no-repeat;
  background-position: top 18px left 22px;
  height: 135px;
  justify-content: center;
}
.card--wallet-ton {
  grid-column-start: 1;
  grid-column-end: 6;
  background-image: url("img/card-bg--wallet-ton.svg");
  background-size: 87px;
}
.card--wallet-sol {
  grid-column-start: 6;
  grid-column-end: 11;
  background-image: url("img/card-bg--wallet-sol.svg");
  background-size: 82px;
}
.card--avoid {
  grid-column-start: 1;
  grid-column-end: 11;
  background-color: #F68A28;
  padding-left: 190px;
  background-image: url("img/card-bg--avoid.svg");
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: top 15px left 16px;
}
.card--stage {
  padding: 0;
  gap: 0;
}
.card--stage-head {
  padding: 18px;
  border-bottom: 4px dashed #000000;
}
.card--stage-body {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 18px;
}
.card--stage-elem {
  padding: 16px 0px 16px 100px;
  background-position-y: center;
  background-repeat: no-repeat;
}
.card--stage-elem--unlock {
  background-image: url("img/card-bg--unlock.svg");
  background-size: 78px 92px;
}
.card--stage-elem--vesting {
  background-image: url("img/card-bg--vesting.svg");
  background-size: 78px 92px;
}
.card--stage .card__txt--large {
  font-size: 33px;
  margin-right: 6px;
}
.card--stage-1 {
  grid-column-start: 1;
  grid-column-end: 6;
}
.card--stage-2 {
  grid-column-start: 6;
  grid-column-end: 11;
}
.card--ticket {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0;
  border: none;
  gap: 0;
  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 11;
}
.card--ticket-center {
  width: 100%;
  background-color: #F68A28;
  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;
  border-left: 4px dashed #000000;
  border-right: 4px dashed #000000;
}
.card--ticket-center-top {
  padding: 30px 30px 15px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px dashed #000000;
}
.card--ticket-center-top .card__txt--large {
  margin-right: 8px;
}
.card--ticket-center-top .card__txt--small {
  position: relative;
  max-width: 220px;
}
.card--ticket-center-top .card__txt--small::before {
  position: absolute;
  top: 0;
  left: -10px;
  content: "*";
}
.card--ticket-center-bottom {
  padding: 15px 30px 30px 30px;
}
.card--ticket-center-bottom .card__txt--regular {
  margin: 0;
  max-width: 480px;
}
.card--ticket-left {
  display: flex;
  flex-direction: column;
  width: 50px;
}
.card--ticket-left-top {
  border-left: 4px solid #000000;
  border-top: 4px solid #000000;
  border-radius: 20px 0 0 0;
  height: 100%;
  background-color: #F68A28;
  margin-bottom: -1px;
}
.card--ticket-left-center {
  width: 50px;
  min-height: 60px;
  background-image: url("img/ticket-hole.svg");
  background-repeat: no-repeat;
  background-size: 50px 60px;
  background-color: transparent;
}
.card--ticket-left-bottom {
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  border-radius: 0 0 0 20px;
  height: 100%;
  background-color: #F68A28;
  margin-top: -1px;
}
.card--ticket-right {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin-left: -1px;
}
.card--ticket-right-top {
  border-right: 4px solid #000000;
  border-top: 4px solid #000000;
  border-radius: 0 20px 0 0;
  height: 100%;
  background-color: #F68A28;
  margin-bottom: -1px;
}
.card--ticket-right-center {
  width: 50px;
  min-height: 60px;
  background-image: url("img/ticket-hole.svg");
  background-repeat: no-repeat;
  background-size: 50px 60px;
  transform: rotate(180deg);
  background-color: transparent;
}
.card--ticket-right-bottom {
  border-right: 4px solid #000000;
  border-bottom: 4px solid #000000;
  border-radius: 0 0 20px 0;
  height: 100%;
  background-color: #F68A28;
  margin-top: -1px;
}

@media (max-width: 820px) {
  .card--farming {
    background-size: 246px;
  }
  .card--allocate {
    background-image: none;
  }
  .card--transfer {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .card--refund {
    grid-column-start: 7;
    grid-column-end: 11;
  }
  .card--wallet-ton {
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .card--wallet-sol {
    grid-column-start: 3;
    grid-column-end: 11;
  }
}
@media (max-width: 730px) {
  .card--burn {
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .card--farming {
    grid-column-start: 3;
    grid-column-end: 11;
  }
}
@media (max-width: 680px) {
  .card__txt-container-h {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 650px) {
  .card--stage {
    grid-column-start: 1;
    grid-column-end: 11;
  }
  .card__txt-container-h {
    flex-direction: row;
    gap: 0px;
  }
  .card--stage-body {
    flex-direction: row;
    justify-content: space-between;
  }
  .card--ticket-center-top {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 580px) {
  .card--allocate .card__txt--large {
    font-size: 44px;
  }
  .card--stage-body {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .card--burn {
    grid-column-start: 1;
    grid-column-end: 11;
  }
  .card--farming {
    grid-column-start: 1;
    grid-column-end: 11;
  }
  .card--allocate {
    grid-column-start: 1;
    grid-column-end: 11;
    background-image: url("img/card-bg--allocate.svg");
  }
  .card--coins {
    display: none;
  }
  .card--refund {
    grid-column-start: 1;
    grid-column-end: 11;
  }
  .card--transfer {
    grid-column-start: 1;
    grid-column-end: 11;
  }
  .card--wallet {
    grid-column-start: 1;
    grid-column-end: 11;
    padding-left: 22px;
    padding-right: 129px;
    background-position: top 18px right 22px;
  }
  .card--wallet-sol {
    padding-left: 129px;
    padding-right: 22px;
    background-position: top 18px left 22px;
  }
  .card--avoid {
    padding-left: 22px;
    padding-top: 175px;
  }
}
@media (max-width: 480px) {
  .card--ticket-center-top, .card--ticket-center-bottom {
    padding: 15px 15px 15px 15px;
  }
}
@media (max-width: 420px) {
  .card--farming {
    height: 350px;
  }
  .card--allocate {
    background-image: none;
  }
}
@media (max-width: 390px) {
  .card__txt--regular {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .card--wallet {
    background-size: 70px;
    height: 135px;
  }
  .card--wallet-ton {
    padding-right: 100px;
  }
  .card--wallet-sol {
    padding-left: 100px;
  }
}
/*# sourceMappingURL=style.css.map */
